@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Vector 1 */
/* 67 */
.hope-number {
    position: absolute;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 116px;
    line-height: 186px;
    text-align: center;
    background: -webkit-linear-gradient(0, #FFB74A, #FD85FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-30px);

}


.hope-title {
    /* Hope Number */

    position: absolute;
    transform: translateY(60px);

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 47px;
    /* identical to box height */
    text-align: center;



    color: #B3B3B3;

}


.person-title {
    /* a5dwd3dv5hg */
    position: relative;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 47px;
    /* identical to box height */
    text-align: center;

    color: #000000;

}


.person-subtitle {
    /* Paciente A */

    position: relative;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    /* identical to box height */
    text-align: center;

    color: #B3B3B3;
}



.images-container {
    width: 100%;
    margin-top: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lines {
    width: 900px;
    /* width: 80%; */
    height: auto;
}


.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}





.text-1 {

    transform: translate(-550px, -200px);

}

.text-2 {

    transform: translate(550px, -200px);

}

.text-3 {

    transform: translate(-550px, 200px);

}

.text-4 {

    transform: translate(550px, 200px);

}

.main-btn {
    position: absolute;
    transform: translateY(130px);

    background-color: #1380FF;
}

.buttons-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(300px);

}

.button {

    padding: 10px;
    font-size: 16px;
    font-family: PT Sans;
    border: 0;
    border-radius: 20px;
    margin: 20px;
    color: white;
    font-weight: 600;
}

.caso-1-btn {
    background-color: #FF9900;
}


.caso-2-btn {
    background-color: #DB6AEE;
}


@media only screen and (max-width: 1500px) {
    .lines {
        width: 500px;
    }

    .text-1 {
        transform: translate(-350px, -100px);
    }

    .text-2 {

        transform: translate(350px, -100px);

    }

    .text-3 {

        transform: translate(-350px, 100px);

    }

    .text-4 {

        transform: translate(350px, 100px);

    }

    .hope-number {
        font-size: 90px;
    }

    .hope-title {
        font-size: 20px;
        transform: translateY(40px);
    }

    .person-title {
        font-size: 20px;
    }

    .person-subtitle {
        font-size: 16px;
    }

    .button {
        font-size: 16px;
        padding: 5px;

    }

    .main-btn {
        transform: translateY(90px);
    }


    .buttons-container {
        transform: translateY(200px);
    }
}


@media only screen and (max-width: 1069px) {
    .lines {
        visibility: hidden;
        display: none;
    }

    .text-1 {
        visibility: hidden;
        display: none;
    }

    .text-2 {
        visibility: hidden;
        display: none;

    }

    .text-3 {
        visibility: hidden;
        display: none;

    }

    .text-4 {
        visibility: hidden;
        display: none;

    }

    .hope-number {
        font-size: 90px;
    }

    .hope-title {
        font-size: 20px;
        transform: translateY(40px);
    }

    .person-title {
        font-size: 20px;
    }

    .person-subtitle {
        font-size: 16px;
    }

    .button {
        font-size: 16px;
        padding: 5px;

    }

    .main-btn {
        transform: translateY(90px);
    }


    .buttons-container {
        transform: translateY(200px);
    }



}