.btn-container {
    display: flex;
    margin: 16px;
    margin-left: 22px;
    position: absolute;
    bottom: 0;
}

.btn:focus {
    outline-width: 3px !important;
    outline-style: dashed !important;
    outline-color: #077AF6 !important;

}

#patient-name {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    width: 100%;
    font-size: 2.4rem;
    text-align: center;
}

.btn-next {
    margin: 5px;
}

.form-container {
    position: relative;
    min-height: 600px;
}

.form-footer {
    height: 60px;
}

.patients-container {
    margin-top: 50px;
}

.profile-picture {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.patient-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.compatibility-container,
.tab-container {
    display: flex;
    flex-direction: column;
}

.main-container {
    padding: 50px;
}